@font-face {
  font-family: 'kyivtype_titlingregular';
  src: url('../font/kyivtypetitling-regular-webfont.woff2') format('woff2'),
    url('../font/kyivtypetitling-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
